<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942734904837-n435i14beh1omhpstsj7a496ip0j08a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942734904837-n435i14beh1omhpstsj7a496ip0j08a7</string>
	<key>API_KEY</key>
	<string>AIzaSyBJqW3VelgDSeciaGOhLkenqFMwSfnhLqk</string>
	<key>GCM_SENDER_ID</key>
	<string>942734904837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreDatabaseCrudExample2022</string>
	<key>PROJECT_ID</key>
	<string>firestore-database-crud-simple</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-database-crud-simple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942734904837:ios:3c48d764327ff412d1166c</string>
</dict>
</plist>